@media (max-width: 360px) {
  p {
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  /* ------------------------------- ACCUEIL ---------------------------------- */
  /* HEADER */
  .social-icons {
    display: none;
  }

  .header-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem 3rem 2rem;
    gap: 1.5rem;
  }

  .logo-img {
    display: block;
    max-width: 25%;
    margin: 0 auto;
  }

  header h1 a {
    display: none;
  }

  menu ul li a {
    font-size: 1.2rem;
  }

  menu ul li:first-child {
    display: none;
  }

  /* MAIN */

  .profil-container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 1rem;
    padding-bottom: 2rem;
    gap: 4rem;
  }

  .profil-content {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  .profil-content h2 {
    font-size: 2.5rem;
  }

  .profil-btns {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .profil {
    max-width: 100%;
    gap: 1rem;
  }

  .profil-quote {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .about {
    padding: 2rem 1rem;
  }

  .about h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .tech-logos {
    padding: 3rem 0 6rem 0;
  }

  .tech-logos h3 {
    font-size: 1.7rem;
    padding-bottom: 2rem;
  }

  .logos-track {
    animation: scroll-left 3s linear infinite;
  }

  .logos-track i {
    font-size: 3rem;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 8px 0 16px 0;
    margin: 0 1rem;
    gap: 3rem;
  }

  .footer-container p:last-of-type {
    font-size: 0.7rem;
  }

  .footer-icons {
    display: flex;
  }

  /* ------------------------------- CV ---------------------------------- */
  .cv-main {
    margin: 0 1rem;
  }
  .cv-container {
    padding: 1rem;
    border-radius: 0;
  }

  .cv-container h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .formation-title,
  .experience-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  /* ------------------------------- PROJET ---------------------------------- */

  .projet-container {
    margin: 0 1rem;
    gap: 3rem;
  }

  .projet-container h2 {
    font-size: 2.5rem;
  }

  .projet {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  .projet-text {
    max-width: 100%;
  }

  .projet-text {
    padding: 0;
  }

  .projet-image {
    max-width: 100%;
  }
  .projet-image img {
    max-width: 100%;
  }

  /* ------------------------------- CONTACT ---------------------------------- */

  .contact-container {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    gap: 2.5rem;
  }

  .contact {
    max-width: 100%;
    gap: 1.25rem;
  }

  .contact .fa-regular.fa-paper-plane {
    font-size: 3rem;
  }

  .contact-text p {
    text-align: center;
  }

  .contact-text {
    gap: 2rem;
  }

  .contact-icons {
    gap: 2.5em;
  }

  .contact-icons a {
    font-size: 2rem;
  }
  .form-container {
    max-width: 100%;
  }
}

/* ====================== */
@media (min-width: 361px) and (max-width: 576px) {
  p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.5rem;
  }

  /* ------------------------------- ACCUEIL ---------------------------------- */
  /* HEADER */
  .social-icons {
    display: none;
  }

  .header-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem 3rem 2rem;
    gap: 1.5rem;
  }

  .logo-img {
    display: block;
    max-width: 25%;
    margin: 0 auto;
  }

  header ul {
    gap: 2.5rem;
  }

  header h1 a {
    display: none;
  }

  menu ul li a {
    font-size: 1.2rem;
  }

  menu ul li:first-child {
    display: none;
  }

  /* MAIN */

  .profil-container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 1rem;
    padding-bottom: 2rem;
    gap: 4rem;
  }

  .profil-content {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  .profil-btns {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .btn {
    width: 100%;
    font-size: 1.2rem;
  }

  .profil {
    max-width: 100%;
    gap: 1rem;
  }

  .profil img {
    max-width: 20rem;
  }

  .profil-quote {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .about {
    padding: 2rem 1rem;
  }

  .about h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .tech-logos {
    padding: 3rem 0 6rem 0;
  }

  .logos-track {
    animation: scroll-left 3s linear infinite;
  }

  .logos-track i {
    font-size: 4rem;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 8px 0 16px 0;
    margin: 0 1rem;
    gap: 3rem;
  }

  .footer-link {
    font-size: 1.2rem;
  }

  .footer-container p:last-of-type {
    font-size: 0.875rem;
  }

  .footer-icons {
    display: flex;
  }

  .footer-icons a {
    font-size: 2rem;
  }
  /* ------------------------------- CV ---------------------------------- */
  .cv-main {
    margin: 0 1rem;
  }
  .cv-container {
    padding: 1rem;
  }

  .cv-container h2 {
    text-align: center;
    font-size: 2rem;
  }

  .formation-title,
  .experience-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .formation-title p,
  .experience-title p {
    font-size: 0.875rem;
  }

  /* ------------------------------- PROJET ---------------------------------- */

  .projet-container {
    margin: 0 1rem;
    gap: 3rem;
  }

  .projet-container h2 {
    font-size: 3rem;
  }

  .projet {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  .projet-text {
    max-width: 100%;
  }

  .projet-text {
    padding: 0;
  }

  .projet-image {
    max-width: 100%;
  }
  .projet-image img {
    max-width: 100%;
  }

  /* ------------------------------- CONTACT ---------------------------------- */

  .contact-container {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    gap: 2.5rem;
  }

  .contact {
    max-width: 100%;
    gap: 1.25rem;
  }

  .contact .fa-regular.fa-paper-plane {
    font-size: 3rem;
  }

  .contact-text p {
    text-align: center;
  }

  .contact-text {
    gap: 2rem;
  }

  .contact-icons {
    gap: 3rem;
  }

  .form-container {
    max-width: 100%;
  }
}

/* ====================== */
@media (min-width: 577px) and (max-width: 768px) {
  /* ------------------------------- ACCUEIL ---------------------------------- */
  /* HEADER */
  .social-icons a {
    font-size: 0.875rem;
  }

  .header-container {
    padding: 0 1.5rem 2.5rem 1.5rem;
  }

  header ul {
    gap: 1.2rem;
  }

  header ul li a {
    font-size: 0.875rem;
  }

  .profil-container {
    padding-bottom: 2.5rem;
  }

  .profil {
    gap: 0.875rem;
  }

  .profil img {
    max-width: 14rem;
  }

  .profil-quote {
    font-size: 1rem;
  }

  .profil-content h2 {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }

  .btn.secondary-brown {
    padding: 0.5rem 1rem;
  }

  .profil-content {
    gap: 1.5rem;
  }

  .about {
    padding: 1.5rem 1.5rem;
    gap: 1.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .icons-btn {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .tech-logos {
    padding: 1.5rem 0 6rem 0;
  }

  .tech-logos h3 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .logos-track i {
    font-size: 3rem;
  }

  .footer-container {
    padding: 8px 0 48px 0;
    margin: 0 1.5rem;
  }

  .footer-link {
    font-size: 1rem;
  }

  .footer-container p:last-child {
    font-size: 1rem;
  }

  /* ------------------------------- CV ---------------------------------- */

  .cv-main {
    padding-bottom: 6rem;
    max-width: 50rem;
    margin: 0 1.5rem;
  }

  .cv-container {
    padding: 1.5rem;
  }

  .cv-container h2 {
    text-align: center;
    font-size: 2rem;
  }

  .formation-title p,
  .experience-title p {
    font-size: 0.5rem;
  }

  .cv-note {
    margin-bottom: 0.875rem;
  }

  /* ------------------------------- PROJET ---------------------------------- */

  .projet-container {
    padding-bottom: 6rem;
    margin: 0 1.5rem;
    gap: 3rem;
  }

  .projet-text {
    padding: 0;
  }

  /* ------------------------------- CONTACT ---------------------------------- */

  .contact-container {
    margin: 0 1.5rem;
    padding-bottom: 6rem;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    gap: 1rem;
  }

  .contact .fa-regular.fa-paper-plane {
    font-size: 3rem;
  }

  .contact-text p {
    text-align: center;
  }

  .contact-text {
    gap: 1.5rem;
  }

  .form-container {
    max-width: 100%;
  }
}

/* ====================== */
@media (min-width: 769px) and (max-width: 992px) {
  /* ------------------------------- ACCUEIL ---------------------------------- */
  /* HEADER */

  .header-container {
    padding: 0 1.5rem 2.5rem 1.5rem;
  }

  /* MAIN */
  .about {
    padding: 2rem 1.5rem;
  }

  .tech-logos {
    padding: 1.5rem 0 6rem 0;
  }

  /* FOOTER */
  .footer-container {
    padding: 8px 0 48px 0;
    margin: 0 1.5rem;
  }

  /* ------------------------------- CV ---------------------------------- */

  .cv-main {
    padding-bottom: 6rem;
    max-width: 50rem;
    margin: 0 1.5rem;
  }

  .cv-container {
    padding: 1.5rem;
  }

  .cv-container h2 {
    text-align: center;
    font-size: 2rem;
  }

  /* ------------------------------- PROJET ---------------------------------- */

  .projet-container {
    padding-bottom: 6rem;
    margin: 0 1.5rem;
    gap: 3rem;
  }

  .projet-text {
    padding: 0;
  }

  /* ------------------------------- CONTACT ---------------------------------- */

  .contact-container {
    margin: 0 1.5rem;
    padding-bottom: 6rem;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .fa-regular.fa-paper-plane {
    font-size: 3rem;
  }

  .contact-text p {
    text-align: center;
  }

  .contact-text {
    gap: 1.5rem;
  }

  .form-container {
    max-width: 100%;
  }
}
